<div class="box">
  <div class="box-inner">
    <h2 class ="form-title">ユーザー新規登録</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field">
        
        <div class="name-field">
          <%= f.label :nickname,"お名前" %>
          <%= f.text_field :nickname, autofocus: true %>
        </div>

        <div class="email-field">
          <%= f.label :email,"メールアドレス" %>
          <%= f.email_field :email, autofocus: true,  autocomplete: "email" %>
        </div>

        <div class="password-field">
          <%= f.label :password,"パスワード" %>
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="confirmation-field">
          <%= f.label :password_confirmation, "パスワード再入力" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録" %>
        </div>
        
      </div>
    <% end %>
  </div>
</div>